[submodule "Catch2"]
	path = submodules/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "submodules/trompeloeil"]
	path = submodules/trompeloeil
	url = https://github.com/rollbear/trompeloeil.git
